<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="icon" type="image/webp" href='/static/css/images/image_scholar_04.webp'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Disciplina</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav style="background-color: aquamarine !important;" class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1"></span>
        </div>
    </nav>
    <div style="text-align: center;" class="container">
        <h1>{{ disciplina.nome_disciplina }}</h1>
        <p><strong>Carga Horária:</strong> {{ disciplina.carga_horaria }} horas</p>
        <p><strong>Período:</strong> {{ disciplina.periodo }}° período</p>
        <br><p><a href="http://127.0.0.1:8000/usuarios/disciplinas.html">Voltar para a lista das disciplinas</a></p>
    </div>
</body>
</html>