<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários Cadastrados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
    <form action="% url 'listar_usuarios' %" method="get">
        <div class="container">
            <h1 class="text-primary">Usuários Cadastrados</h1>
            <table class="table table-bordered table-striped">
                <tr>
                    <th></th>
                    <th>username</th>
                    <th>e-mail</th>
                </tr>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.id_usuario}}</td>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.email}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table><br><br>
            <p><a href="http://127.0.0.1:8000/usuarios/home.html">Voltar para a página inicial</a></p>
        </div>
    </form>
</body>
</html>